.DS_Store
.cache/
.coverage*
.python-version
.lint-*
.projectile
.pyenv
.tox
.idea
*.egg-info/
*.pyc
*.so
AUTHORS
ChangeLog
EGG-INFO/
GPATH
GRTAGS
GTAGS
build/
coverage.xml
dist/
junit-*
pylint.log
venv/
